@page
@model ProgPoe3._1.Pages.SignUpModel
@{
    Layout = "_LayoutLogin";
}

<div class="login-page">
    <div class="form">
        <form class="register-form">
            <input type="text" placeholder="name" />
            <input type="password" placeholder="password" />
            <input type="text" placeholder="email address" />
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
        <form class="login-form" method="post">
            <input type="text" placeholder="Name" name="txtName" id="txtname"/>
            <input type="text" placeholder="Username" name="txtuserID" id="txtUserID" />
            <input type="password" placeholder="Password" name="txtPassword" id="txtPass"/>
            <button type="submit">Sign up</button>
            <p class="message">Already registered?<a href="/Login">Sign In</a></p>
        </form>
    </div>
</div>